main {
    flex: 1 0 auto;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.video-responsive {
    overflow: hidden;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.video-responsive iframe {
    width: 640px;
    height: 360px;
}

@media screen and (max-width: 750px) {
    .video-responsive iframe {
        width: 480px;
        height: 270px;
    }
}

@media screen and (max-width: 550px) {
    .video-responsive iframe {
        width: 320px;
        height: 180px;
    }
}