.container-accueil {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.video-responsive {
    overflow: hidden;
    display: inline-block;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.video-responsive iframe {
    width: 640px;
    height: 360px;
}

@media screen and (max-width: 730px) {
    .video-responsive iframe {
        width: 480px;
        height: 270px;
    }
}

@media screen and (max-width: 550px) {
    .video-responsive iframe {
        width: 320px;
        height: 180px;
    }
}