header {
    flex-shrink: 0;
    background-color: #666;
    position: fixed;
    width: 100%;
}

.headerAccueil {
    background-color: #666;
}

header a {
    float: left;
    margin: 5px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    max-width: 96%;
}

header h3 {
    float: left;
    margin: auto;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20pt;
}

header>div {
    display: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 14px 16px;
}

header>div:first-child {
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

header>div:nth-child(2) {
    float: right;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

header>div:nth-child(3) {
    display: none;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

header>div:first-child>img {
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
    display: block;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: black !important;
}

header a.active {
    border-bottom: #f2f2f2 solid 2px;
}

header a.active:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 750px) {
    header div:nth-child(2) {
        display: none;
    }
    header div:nth-child(3) {
        float: right;
        display: block;
    }
    header.responsive {
        display: block;
        position: fixed;
    }
    header.responsive div:nth-child(3) {
        position: absolute;
        height: fit-content;
        margin: 0;
        right: 0;
        top: 0;
    }
    header.responsive div:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    header.responsive div:nth-child(2) a {
        display: flexbox;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
    header a:last-child:hover {
        background-color: transparent;
        border-radius: 0;
        color: #f2f2f260 !important;
    }
    header a.active {
        border-bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        color: black !important;
    }
}